

/*--------------------------------------------------Nav Bar*/

.navbar-brand {
    color: #fff;
    

    

}
.nav-link {
    color: #fff;
    float: right;
}
nav {
    background-color:rgba(0, 0, 0, 0.9);

}


    





/*--------------------------------------------------background*/


.opaque-overlay{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0,0,0,0.3);
}
.opaque-overlay-2 {
 position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0,0,0,0.8);
}

/*--------------------------------------------------block divider*/
.block-divider {
    color: #fafafa;
    width: 100%;
    height: 20px;
    border: 0;
}


/*--------------------------------------------------general*/

 .head-container {
    height: 100vh;

     background: url(../images/thaibeach.jpg) no-repeat bottom right fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
 }

 .gallery-container {
     height: 100vh;

     background: url(../images/thaibeach.jpg) no-repeat bottom right fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
 
 }
 
 
 .jumbotron {
     z-index: 1;
     border: #fafafa 3px solid;
     padding: 8px 8px 8px 8px;
 }
 .jumbotron-header {
     font-size: 10vw;
    color: #fafafa;
    text-transform: bold;
 }

 .mid-container {
     color: #fff;
     margin: 0 auto;
    
   
     
 }

 .mid-item {
     text-align: center;
     
 }
.des-heading {
    color: #fafafa;
    margin-top: 20px;
}
.des-text {
    color: #fafafa;
    padding-bottom: 6vw;
    font-size: 20px;
}
.q-heading {
    color: #fafafa;
    margin-top: 20px;
        

}
.q-text {
    color: #fafafa;
    margin-top: 20px;
    margin-bottom: 17vw;
    font-size: 20px;
    

}

.exp-img {
background-image: url(../images/amy1.jpg);
height: 360px;
width: 360px;
background-repeat: no-repeat;
background-size: cover;
border-radius: 50%;
margin: 0 auto;
margin-bottom: 10vw;

}

.landing-content {
    border: 0;
}
   
.exp {
    margin-top: 6vw;
    margin-left: 0;
    padding-right: 3vw;
}

/*--------------------------------------------------carousel*/



.carousel-heading {
    color: #fafafa;
    margin: 0 auto;
}






/*--------------------------------------------------footer*/

footer {
background-color:rgba(0, 0, 0, 0.9);
color: #fff;
padding-top: 10px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 5px;
    text-align: center;
    color: #fafafa;
    background-color: #8f8f8f;
     transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out; 

}



.social-links li a i:hover {
    background-color: #4380e0;
}


