
/*--------------------------------------------------Nav Bar*/

.navbar-brand {
    color: #fff;
}

.nav-link {
    color: #fff;
    float: right;
}

nav {
    background-color:rgba(0, 0, 0, 0.9);
    font-family: "Poppins", sans-serif;
}

.navbar-nav {
    justify-content: end;
    margin-left: auto;
}

.navbar a:hover {
    color: #4380e0;
     transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out; 
}

/*--------------------------------------------------background*/

.opaque-overlay{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0,0,0,0.3);
}

.opaque-overlay-2 {
 position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0,0,0,0.8);
}

/*--------------------------------------------------block divider*/

.block-divider {
    color: #fafafa;
    width: 100%;
    height: 20px;
    border: 0;
}

/*--------------------------------------------------general*/
.container-fluid {
    vertical-align: top;
}

 .head-container {
     height: 100vh;
     background: url(../images/thaibeach.jpg) no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
 }

 .gallery-container {
    height: 100vh;
    background: url(../images/memories.jpg) no-repeat top right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: auto;
    overflow: hidden;
 }
 
 .about-container {
    height: 100vh;
    background: url(../images/buildings.jpg) no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
 }

 .contact-container {
     height: 100vh;
    background: url(../images/nia.jpg) no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
 }

 .jumbotron {
     z-index: 1;
     border: #fafafa 3px solid;
     padding: 8px 8px 8px 8px;
     margin: 2vw;
 }

 .jumbotron-header {
    font-size: 4rem;
    color: #fafafa;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
 }

 .jumbotron-contact-header {
    font-size: 4rem;
    color: #fafafa;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
 }

 .jumbotron-about-header {
    font-size: 4rem;
    color: #fafafa;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
 }

 .jumbotron-gallery-header {
    font-size: 4rem;
    color: #fafafa;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
 }

 .mid-container {
    color: #fff;
    margin: 0 auto;  
 }

 .mid-item {
    text-align: center;  
 }

.des-heading {
    color: #fafafa;
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
}

.des-text {
    color: #fafafa;
    padding-bottom: 6vw;
    font-size: 20px;
    font-family: "Kiwi Maru", sans-serif;
}

.q-heading {
    color: #fafafa;
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
}

.q-text {
    color: #fafafa;
    margin-top: 20px;
    margin-bottom: 17vw;
    font-size: 20px;
    font-family: "Kiwi Maru", sans-serif;
}

.about-heading {
    color: #fafafa;
    z-index: 1;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
}

.about-text {
    color: #fafafa;
    z-index: 1;
    position: relative;
    font-family: "Kiwi Maru", sans-serif;
}

.exp-img {
background-image: url(../images/amy1.jpg);
height: 360px;
width: 360px;
background-repeat: no-repeat;
background-size: cover;
border-radius: 50%;
margin: 0 auto;
margin-bottom: 10vw;
}

.exp-img-2 {
    background-image: url(../images/traveller.jpg);
    height: 360px;
    width: 360px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 10vw;
}

.exp-img-3 {
    background-image: url(../images/traveller2.jpg);
    height: 360px;
    width: 360px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 10vw;
}

.landing-content {
    border: 0;
    display: block;
}

.gallery-content {
    padding-top: 5vw;
    padding-bottom: 5vw;
}
   
.exp {
    margin-top: 6vw;
    margin-left: 0;
    padding-right: 3vw;
}

/*--------------------------------------------------carousel*/

.carousel-heading {
    color: #fafafa;
    margin: 0 auto;
}

/*--------------------------------------------------contact form*/

.contact-form {
    border: #fafafa 2px solid;
    z-index: 1;
    padding: 1vw 1vw 1vw 1vw;
    width: 50%;
    margin: 0 auto;
}

.center-form {
    z-index: 1;
    margin: 0 auto;
    padding-bottom: 10vw;
    padding-top: 5vw;
}

.center-form-heading {
    color: #fafafa;
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 5vh;
    text-transform: uppercase;    
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #393c40;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 25%);
}

/*--------------------------------------------------footer*/

footer {
    background-color:rgba(0, 0, 0, 0.9);
    color: #fff;
    padding-top: 10px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    display: inline-block;
    border-radius: 50%;
    font-size: 13px;
    line-height: 3px;
    text-align: center;
    color: #fafafa;
    background-color: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out; 
}

.social-links li a i:hover {
    background-color: #4380e0;
}


@media only screen and (min-width: 768px) {
 
.carousel-container {
    max-width: 50vw;
    max-height: 30vw;
    position: absolute;
    margin-bottom: 10vw; 
 }

 .carousel-heading {
     padding-bottom: 2vw;
     font-size: 3rem;
 }

.carousel-inner {
    width: fit-content;
    margin: 0 auto;
    height: 30rem;
}

}

@media only screen and (max-width: 600px) {

.center-form {
    z-index: 1;
    margin: 0 auto;
    padding-bottom: 20vw;
    padding-top: 5vw;
}

.gallery-content {
    padding-top: 15vw;
    padding-bottom: 20vw;
}

.exp-img, .exp-img-2, .exp-img-3 {
    width: auto;
}

}

@media only screen and (max-width: 1000px) {

    .social-links {
        display: flex;
    }
    
}

@media only screen and (max-width: 600px) {
    .jumbotron {
        margin: 3vw;
    }

    .jumbotron-gallery-header, .jumbotron-about-header, .jumbotron-contact-header, .jumbotron-header {
        font-size: 3rem;
    }

}